
.box{
    width: 70px;
    height: 70px;
    background-color: blue;
}

.box-blue{
    background-color: blue;
}

.box-yellow{
    background-color: yellow;    
}

.box-green{
    background-color: green;
}

.box-red{
    background-color: red;
}

